<p> Form for new status </p>

<%= form_with model: @status, local: true do |f| %>
  <%= f.label :text %>
  <%= f.text_field :text %>

  <%= f.label :do_not_disturb %>
  <%= f.check_box :do_not_disturb %>

  <%= f.hidden_field :user_id, value: @status.user_id %>

  <%= submit_tag %>
<% end %>
