<p id=”alert”><%= alert %></p>
<p id=”notice”><%= notice %></p>

<h1>Sign Up</h1>

<%= form_with model: @user, url: registrations_path, method: :post, local: true do |form| %>
  <%= label_tag(:email, "Email") %>
  <%= form.text_field(:email) %>

  <%= label_tag(:username, "Username") %>
  <%= form.text_field(:username) %>

  <%= submit_tag("Submit") %>
<% end %>

